<div>
    <button type="button" id="getList" class="btn btn-outline-primary" onclick="GetList()">Person Listesi</button>
    <button type="button" id="btn-create" class="btn btn-outline-dark" onclick="GetCreatePartial()">Person Ekle</button>
    <div asp-validation-summary="All"></div>

    <div id="list"></div>
    <div id="tables">
        <div id="Create"></div>
        <div id="Update"></div>
    </div>
</div>
